<app-navbar></app-navbar>
<div class="cards">
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
<app-tarjeta [imagen]="'/assets/flor.jpg'" [titulo]="'Nombre del juego'" [descripcion]="'descripcion'"></app-tarjeta>
</div>



<router-outlet></router-outlet>
