h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a1a6d;
}
p{
    color: #1a1a6d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
button{
 
    border-radius: 2px;
}
button:hover{
    background-color: beige;
    color: rg(37,22,78);
  
}

div{

    border: 6px solid #1a1a6d;
    width: 20%;
}