h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a1a6d;
    margin-left:20px;
}
li{
    color: #1a1a6d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
button{
 
    border-radius: 2px;
    margin-left: 80px;
    margin-top:10px;
    background-color:#90b0ce;
    color: blue;
}
button:hover{
    background-color: beige;
    color: rg(37,22,78);
  
}

div{

    border: 6px solid #1a1a6d;
    width: 20%;
}
img{
    width: 270px;
    height: 270px;
}