.tarjetas{
    display: flex;
    justify-content: center;
    
   
    
}
.tarjeta img{
   width: 220px;
   height: 220px;
}
.tarjeta{
    background: black;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    box-shadow: 7px 8px 7px rgba(48, 45, 6, 0.774);
    transition: all 0.5s;
}
.tarejetas .tarjeta:hover{
    transform: translateY(-10px);
   
}

